<section>
    <div class="container-fluid">
        <div class="row">
            <table class="table">
                <thead class="text-white" style="background: #454397">
                    <tr>
                        <th>Sr. No.</th>
                        <th>Bank / Institution Category</th>
                        <th>Sub-Category</th>
                        <th>Bank / Institution Name</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let finance of financialInstsData | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">
                        <td data-title="Sr. No.">{{pageSize*(p-1)+i+1}}</td>
                        <td data-title="Bank / Institution Category">{{finance.category}}</td>
                        <td data-title="Sub-Category">{{finance.subCategory}}</td>
                        <td data-title="Bank / Institution Name">{{finance.instName}}</td>
                        <td data-title="Status">{{finance.status}}</td>
                        <td data-title="Options" class="text-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 col-md-6">
                                        <button class="btn bg-blue btn-xs radius_none" data-toggle="modal" [routerLink]="['/master/edit-finance', finance._id]"><span class="fa fa-edit margin-right-0"></span></button>
                                    </div>
                                    <div class="col-6 col-md-6">
                                        <button class="btn bg-blue btn-xs radius_none" data-toggle="modal" (click)="financeDelete(finance._id)"><span class="fa fa-trash margin-right-0"></span></button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="input-group-icon input-group-icon-right col-md-12">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</section>