<section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <ul class="model-menu">
            <li onclick="goBack()"><button class="btn badge bg-dark"><i class="fas fa-arrow-left"></i> Back</button></li>
            <li (click)="refresh()"><button class="btn badge bg-primary" title="Refresh"><i class="fas fa-sync-alt"></i></button></li>  |   
            <li><a routerLink="/">Home</a></li>/
            <li><a routerLink="/home">home</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>