<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="model-menu">
                    <li onclick="goBack()"><button class="btn badge bg-dark"><i class="fas fa-arrow-left"></i> Back</button></li>
                    <li (click)="refresh()"><button class="btn badge bg-primary" title="Refresh"><i class="fas fa-sync-alt"></i></button></li>  |   
                    <li><a routerLink="/">Master</a></li>/
                    <li><a routerLink="/m-state">State Master</a></li>
                </ul>
            </div>
            <div class="col-md-12 card">
                <!-- searchbar-row -->
                <div class="sidebarMain-1">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="searchBar d-flex justify-content-center align-items-center">
                                <i class="fas fa-search"></i><input class="form-control" type="search" [(ngModel)]="searchData" placeholder="Search" aria-label="Search">
                            </div>
                        </div>
                        <div class="col-md-2 d-flex justify-content-center align-items-center">
                            <div class="checkboxMain d-flex justify-content-center align-items-center">
                              <input class="me-2" type="checkbox" (click)="showInActive()" name="status" id="custStatus">
                              <label for="status">Show Inactive</label>
                            </div>
                          </div>
                        <div class="col-md-5 align-self-end text-end">
                            <div class="modelBtnMain">
                                <button type="button" data-bs-toggle="modal" data-bs-target="#addState" class="btn btn-primary text-uppercase me-2">+ State</button>
                                <button type="button" class="btn btn-primary" *ngIf="isExcelDownload" (click)="download()" title="Download selected records"><i class="fa fa-download"></i></button>
                            </div>
                            <label for="limit">
                                <select id="limit" name="limit" class="form-select" (click)="dataLimit()">
                                    <option *ngFor="let limit of limits" value="{{limit.value}}">{{limit.key}}</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- searchbar-row -->
                <div class="table-responsive">
                    <table class="table table-hover align-middle" id="export">
                        <thead class="text-white sticky-top theadbg">
                            <tr>
                                <th>#</th>
                                <th>Zone</th>
                                <th>State</th>
                                <th>Status</th>
                                <th>Edit</th>
                                <th>Delete</th>
                              </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let state of filterStateData | filter: searchData | paginate: { itemsPerPage: limit, currentPage: pageData }; let i = index">
                                <td data-title="Sr. No.">{{limit*(pageData-1)+i+1}}</td>
                                <td data-title="Zone">{{state?.zoneCode}}</td>
                                <td data-title="State">{{state?.stateName}}</td>
                                <td data-title="Status">{{state?.status}}</td>
                                <td data-title="Edit" class="text-center">
                                    <a class="bg-primary editIcon btn" [routerLink]="['/master/edit-state', state?._id]"><i class="fa fa-edit"></i></a>
                                    <!-- <a class="deleteIcon icon" (click)="stateDelete(state?._id)"><i class="fa fa-trash-alt"></i></a> -->
                                </td>
                                <td data-title="Delete" class="text-center">
                                    <a class="btn deleteIcon" [ngClass]="!(state?.status === 'Active') ? 'bg-danger' : 'bg-success'"><i [ngClass]="(state?.status === 'Active') ? 'fa fa-toggle-on' : 'fa fa-toggle-off'"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="input-group-icon input-group-icon-right text-center mt-2">
                    <pagination-controls (pageChange)="pageData = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</section>
