<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- searchbar-row -->
                <div class="row mb-2">
                    <div class="col-6">
                        <ul class="model-menu">
                            <li><a routerLink="">Master</a></li>/
                            <li><a routerLink="/master/customer">Customer Master</a></li>
                        </ul>
                        <div class="searchBar mt-2 d-flex justify-content-center align-items-center">
                            <i class="fas fa-search"></i><input class="form-control me-2" type="search" [(ngModel)]="searchData" placeholder="Search" aria-label="Search">

                        </div>
                    </div>
                    <div class="col-3 align-self-end text-end"></div>
                    <div class="col-2 align-self-end text-end">
                        <div class="modelBtnMain">
                            <button type="button" class="btn btn-primary text-uppercase">+ Add Customer</button>
                        </div>
                    </div>
                    <div class="col-1 align-self-end text-end">
                        <label for="limit" style="width: -webkit-fill-available; padding-left: 10px;">
                            <select id="limit" name="limit" class="form-select" (click)="dataLimit()">
                            <option *ngFor="let limit of limits" value="{{limit.value}}">{{limit.key}}</option>
                            </select>
                        </label>
                    </div>
                </div>
                <!-- searchbar-row -->
                <div class="table-responsive">
                    <table class="table table-striped table-hover align-middle">
                        <thead class="text-white sticky-top theadbg">
                            <tr>
                                <th>#</th>
                                <th>Customer Code</th>
                                <th>Customer Name</th>
                                <th>Father Name</th>
                                <th>Customer DOB</th>
                                <th>Marriage Date</th>
                                <th>Customer Address</th>
                                <th>State</th>
                                <th>Tehsil</th>
                                <th>Village Name</th>
                                <th>Pin Code</th>
                                <th>Mobile No.</th>
                                <th>Email</th>
                                <th>Aadhar No.</th>
                                <th>Pan No.</th>
                                <th>Created On</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let customer of customersData | filter: searchData | paginate: { itemsPerPage: limit, currentPage: pageData }; let i=index">
                                <td data-title="Sr. No.">{{limit*(pageData-1)+i+1}}</td>
                                <td data-title="Sr. No."><a class="table-href" data-bs-toggle="modal" data-bs-target="#customersinfo" (click)="viewFullInfo(customer)">{{customer.dealerCode}}</a></td>
                                <td data-title="Sr. No.">{{customer.customerId}}</td>
                                <td data-title="Owner's Name"><a (click)="viewFullInfo(customer)">{{customer.ownerName}}</a></td>
                                <td data-title="Customer DOB">{{customer.customerDOB | date:'dd-MM-yyyy'}}</td>
                                <td data-title="Customer DOB">{{customer.weddingDate | date:'dd-MM-yyyy'}}</td>
                                <td data-title="Customer Address">{{customer.address.customerAddress}}</td>
                                <td data-title="Mobile No">{{customer.address.stateName}}</td>
                                <td data-title="Mobile No">{{customer.address.tehsil}}</td>
                                <td data-title="Mobile No">{{customer.address.villageName}}</td>
                                <td data-title="Mobile No">{{customer.address.pinCode}}</td>
                                <td data-title="Mobile No">{{customer.mobileNo}}</td>
                                <td data-title="Email">{{customer.customerEmail}}</td>
                                <td data-title="Aadhar No">{{customer.aadharNo}}</td>
                                <td data-title="Pan No">{{customer.panNo}}</td>
                                <td data-title="Created On">{{customer.CreatedDate |  date:'dd-MM-yyyy'}}</td>
                                <td data-title="Options" class="text-center">
                                <!-- <div class="container">
                                    <div class="row">
                                        <div class="col-6 col-md-6">
                                            <button class="btn bg-blue btn-xs radius_none" data-toggle="modal" [routerLink]="['/master/edit-depot', customer._id]"><span class="fa fa-edit margin-right-0"></span></button>
                                        </div>
                                        <div class="col-6 col-md-6">
                                            <button class="btn bg-blue btn-xs radius_none" data-toggle="modal" (click)="deleteCustomerIndo(customer.depotCode)"><span class="fa fa-trash margin-right-0"></span></button>
                                        </div>
                                    </div>
                                </div> -->
                                    <a class="editIcon icon mb-1" [routerLink]="['/master/edit-depot', customer._id]"><i class="fa fa-edit"></i></a>
                                    <a class="deleteIcon icon" (click)="deleteCustomerIndo(customer.depotCode)"><i class="fa fa-trash-alt"></i></a>
                               </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="input-group-icon input-group-icon-right mt-2">
                    <pagination-controls (pageChange)="pageData = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- viewFullInfo modal -->
<div class="modal fade" id="customersinfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" *ngFor="let customer of customersInfo">
        <div class="modal-header modalHeaderCenter" style="background: #454397">
            <h4 class="modal-title text-white text-center">Customer Code - {{customer.dealerCode}}</h4>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
          <a class="btn-close2" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></a>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
                <div class="col-6 col-md-6 p-2">
                    <div class="row mt-1">
                        <div class="col-5"><b>Customer Code</b></div>
                        <div class="col-1"><b>:</b></div>
                        <div class="col-6">{{customer.dealerCode}}</div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-5"><b>Customer Name</b></div>
                        <div class="col-1"><b>:</b></div>
                        <div class="col-6">{{customer.customerId}}</div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-5"><b>Father Name</b></div>
                        <div class="col-1"><b>:</b></div>
                        <div class="col-6">{{customer.ownerName}}</div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-5"><b>Customer DOB</b></div>
                        <div class="col-1"><b>:</b></div>
                        <div class="col-6">{{customer.customerDOB | date:'dd-MM-yyyy'}}</div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-5"><b>Marriage Date</b></div>
                        <div class="col-1"><b>:</b></div>
                        <div class="col-6">{{customer.weddingDate | date:'dd-MM-yyyy'}}</div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-5"><b>Customer Address</b></div>
                        <div class="col-1"><b>:</b></div>
                        <div class="col-6">{{customer.address.customerAddress}}</div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-5"><b>State</b></div>
                        <div class="col-1"><b>:</b></div>
                        <div class="col-6">{{customer.address.stateName}}</div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-5"><b>Tehsil</b></div>
                        <div class="col-1"><b>:</b></div>
                        <div class="col-6">{{customer.address.tehsil}}</div>
                    </div>
                </div>
                <div class="col-6 col-md-6 p-2">
                    <div class="row mt-1">
                        <div class="col-5"><b>Village Name</b></div>
                        <div class="col-1"><b>:</b></div>
                        <div class="col-6">{{customer.address.villageName}}</div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-5"><b>Pin Code</b></div>
                        <div class="col-1"><b>:</b></div>
                        <div class="col-6">{{customer.address.pinCode}}</div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-5"><b>Mobile No.</b></div>
                        <div class="col-1"><b>:</b></div>
                        <div class="col-6">{{customer.mobileNo}}</div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-5"><b>Email</b></div>
                        <div class="col-1"><b>:</b></div>
                        <div class="col-6">{{customer.customerEmail}}</div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-5"><b>Aadhar No.</b></div>
                        <div class="col-1"><b>:</b></div>
                        <div class="col-6">{{customer.aadharNo}}</div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-5"><b>Pan No.</b></div>
                        <div class="col-1"><b>:</b></div>
                        <div class="col-6">{{customer.panNo}}</div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-5"><b>Created On</b></div>
                        <div class="col-1"><b>:</b></div>
                        <div class="col-6">{{customer.CreatedDate |  date:'dd-MM-yyyy'}}</div>
                    </div>
                </div>
              </div>
          </div>
        </div>
        <div class="modal-footer border-btm">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

