<section>
    <div class="container-fluid wrapper">
        <div class="row">
          <label for="cars">Data per page:
            <select id="limit" name="limit" (click)="dataLimit()">
              <option *ngFor="let limit of limits" value="{{limit.value}}">{{limit.key}}</option>
            </select>
          </label>
          <div class="table-responsive">
                <table class="table">
                    <thead class="text-white tr">
                        <tr>
                          <th>Sr. No.</th>
                          <th>City</th>
                          <th>District Name</th>
                          <th>City Code</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let city of citiesData | paginate: { itemsPerPage: limit, currentPage: pageData }; let i = index">
                          <td data-title="Sr. No.">{{limit*(pageData-1)+i+1}}</td>
                            <td data-title="City">{{city.city}}</td>
                            <td data-title="District Name">{{city.districtName}}</td>
                            <td data-title="City Code">{{city.cityCode}}</td>
                            <td data-title="Status">{{city.isActive ? "Active" : "Inactive"}}</td>
                            <td data-title="Options" class="text-center">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-6 col-md-6">
                                                <button class="btn bg-blue btn-xs radius_none" data-toggle="modal" [routerLink]="['edit-city', city._id]"><span class="fa fa-edit margin-right-0"></span></button>
                                            </div>
                                            <div class="col-6 col-md-6">
                                                <button class="btn bg-blue btn-xs radius_none" data-toggle="modal" (click)="cityDelete(city._id)"><span class="fa fa-trash margin-right-0"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                        </tr>
                        <tr *ngIf="citiesData == 0" class="text-center">Data Not Found</tr>
                    </tbody>
                </table>
                <div class="input-group-icon input-group-icon-right col-md-12">
                    <pagination-controls (pageChange)="pageData = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</section>

