<section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <ul class="model-menu">
            <li onclick="goBack()"><button class="btn badge bg-dark"><i class="fas fa-arrow-left"></i> Back</button></li>
            <li (click)="refresh()"><button class="btn badge bg-primary" title="Refresh"><i class="fas fa-sync-alt"></i></button></li>  |   
            <li><a routerLink="/">Dealer</a></li>/
            <li><a routerLink="/ats-insurance">Insurance</a></li>
          </ul>
        </div>
        <div class="col-md-12 card">
          <!-- searchbar-row -->
          <div class="sidebarMain-1">
            <div class="row">
              <div class="col-md-6">
                <div class="searchBar d-flex justify-content-center align-items-center">
                  <i class="fas fa-search"></i><input class="form-control" type="search" [(ngModel)]="searchData" placeholder="Search" aria-label="Search">
                </div>
              </div>
              <div class="col-md-6 align-self-end text-end filterMain">
                <button class="btn btn-primary me-2" type="button" data-bs-toggle="collapse" data-bs-target="#filter" aria-expanded="false" aria-controls="collapseExample"> <i class="fa fa-filter"></i> </button>
                <button type="button" class="btn btn-primary me-2" *ngIf="isInsuranceData" (click)="download()" title="Download selected records"><i class="fa fa-download"></i></button>
                <label for="limit">
                  <select id="limit" name="limit" class="form-select" (click)="dataLimit()">
                    <option *ngFor="let limit of limits" value="{{limit.value}}">{{limit.key}}</option>
                  </select>
                </label>
              </div>
            </div>
          </div>
          <div class="collapse mb-2" id="filter">
            <div class="card card-body">
              <div class="container-fluid">
                <div class="row">
                  <form #atsFilterForm="ngForm" (ngSubmit)="getAtsInsuList(atsFilterForm)" novalidate>
                    <div class="d-downMain">
                      <div class="row" style="--bs-gutter-x: 1.5rem;">
                        <div class="col-md-2 mbSm">
                          <div>
                            <select name="zoneCode" ngModel [(ngModel)]="selectedZoneName" class="form-control" (click)="getStateList(selectedZoneName)">
                              <option value="" selected>Select Zone</option>
                              <option *ngFor="let obj of zoneList" [ngValue]="obj.zoneCode"> {{obj.zoneCode}} </option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-2 mbSm">
                          <div>
                            <select name="stateName" ngModel [(ngModel)]="selectedStateName" class="form-control" (click)="getDealers(selectedStateName)">
                              <option value="" selected>Select state</option>
                              <option *ngFor="let obj of stateListData" [ngValue]="obj"> {{obj}} </option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-2 mbSm">
                          <div>
                            <select name="dealerCode" ngModel class="form-control">
                              <option value="" selected>Select Dealer</option>
                              <option *ngFor="let obj of dealerListData" [ngValue]="obj.code"> {{obj.code}} </option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-2 mbSm">
                          <div class="inline-el">
                              <span class="me-2">From:</span>
                              <input type="date" placeholder="Invoice From date" name="fromDate" [ngModel]="fromDate | date:'yyyy-MM-dd'" max="{{currentDate}}" ngModel class="form-control">
                          </div>
                        </div>
                        <div class="col-md-2 mbSm">
                          <div class="inline-el">
                              <span class="me-2">To:</span>
                              <input type="date" placeholder="Invoice To date" name="toDate" [ngModel]="toDate | date:'yyyy-MM-dd'" max="{{currentDate}}" ngModel class="form-control">
                          </div>
                        </div>
                        <div class="col-md-2 align-self-end text-end">
                          <div class="BtnMainGrp">
                            <input type="submit" class="btn btn-primary" value="Show Data">
                            <!-- <button type="button" class="btn btn-primary">Clear</button> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- searchbar-row -->
          <div class="table-responsive">
            <table class="table table-hover align-middle" id="export">
                <thead class="text-white sticky-top theadbg">
                    <tr>
                        <th></th>
                        <th colspan="4" class="text-center">Dealer</th>
                        <th colspan="4" class="text-center">Customer</th>
                        <th colspan="4" class="text-center">Vehicle</th>
                        <th colspan="3" class="text-center">Insurance</th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>State</th>

                        <th>Name</th>
                        <th>Contact</th>
                        <th>Location</th>
                        <th>State</th>

                        <th>ChassisNo</th>
                        <th>Variant</th>
                        <th>DeliveryDate</th>
                        <th>RetailedDate</th>

                        <th>EffectiveFrom</th>
                        <th>EffectiveTill</th>
                        <th>Action/History</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ats of InsuranceData | filter: searchData | paginate: { itemsPerPage: limit, currentPage: pageData }; let i = index">
                        <td data-title="Sr. No.">{{limit*(pageData-1)+i+1}}</td>
                        <td data-title="Code">{{ats?.dealer?.code}}</td>
                        <td data-title="Name">{{ats?.dealer?.name}}</td>
                        <td data-title="Location">{{ats?.dealer?.city}}</td>
                        <td data-title="State">{{ats?.dealer?.state}}</td>

                        <td data-title="Name">{{ats?.customer?.name}}</td>
                        <td data-title="Contact">{{ats?.customer?.phone}}</td>
                        <td data-title="Location">{{ats?.customer?.city}}</td>
                        <td data-title="State">{{ats?.customer?.state}}</td>

                        <td data-title="Chassis No">{{ats?.chassisNo}}</td>
                        <td data-title="Variant">{{ats?.variantCode}}</td>
                        <td data-title="Delivery Date">{{ats?.customer?.deliveryDate | date:"dd-MM-yyyy"}}</td>
                        <td data-title="Retailed Date">{{ats?.customer?.retailDate | date:"dd-MM-yyyy"}}</td>

                        <td data-title="EffectiveFrom">{{ats}}</td>
                        <td data-title="EffectiveTill">{{ats}}</td>
                        <td data-title="Action/History" class="text-center">
                          <button class="btn-add" value="add">Add</button>
                        </td>
                    </tr>
                </tbody>
            </table>
          </div>
          <div class="input-group-icon input-group-icon-right text-center mt-2">
            <pagination-controls (pageChange)="pageData = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </section>
