.inline-el{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-add{
    display: inline-block;
    padding: 0.2em 0.8em;
    border: 0;
    border-radius: 30px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    font-size: 14px;
    transition: all .1s ease;
    background-color: #0099cc;
    color: #fff;
}
.btn-add:hover{
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
}