<div class="sidebar-main">
  <!-- mobile-view -->
  <nav class="navbar navbar-expand-lg navbar-light mobile-top-navbar">
      <div class="container-fluid">
        <a class="navbar-brand logoSm" href="#"><img class="img-fluid" src="../../../../assets/images/SDF-logo.png"></a>
        <div class="">
          <ul class="navbar-nav justify-content-end w-100">
            <li class="nav-item">
              <a class="nav-link" href="#" (click)="getLogout()"><i class="fa fa-cog"></i></a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
  <div *ngIf="isMenuLoad">
    <div #dealerNav class="sm-dealerMenu">
        <ul class="dealers menu">
            <li><a (click)="showReports()" data-bs-target="viewReports" data-bs-toggle="collapse" aria-expanded="false">View Reports <i class="d-arrow fa fa-chevron-down"></i></a>
                <ul #showRep class="collapse" id="viewReports" *ngIf="roles?.view_dealer_reports_sub?.link">
                    <li *ngIf="roles?.dealer_stock_last?.link"><a routerLink="/r-dealer-stock"><i class="rgt-arrow fa fa-chevron-right"></i> Dealer Stock</a></li>
                    <li *ngIf="roles?.dealer_stock_variant_wise_last?.link"><a routerLink="/r-dealer-stock-variantwise"><i class="rgt-arrow fa fa-chevron-right"></i> Dealer Stock Variant Wise</a></li>
                    <li *ngIf="roles?.dealer_collection_mtd_last?.link"><a routerLink="/r-dealer-collection"><i class="rgt-arrow fa fa-chevron-right"></i> Dealer Collection MTD</a></li>
                    <li *ngIf="roles?.dealer_collection_daywise_last?.link"><a routerLink="/r-dealer-daily-collection"><i class="rgt-arrow fa fa-chevron-right"></i> Dealer Collection Daywise</a></li>
                    <li *ngIf="roles?.ats_reports_last?.link"><a routerLink="/r-ats"><i class="rgt-arrow fa fa-chevron-right"></i> ATS Reports</a></li>
                    <li *ngIf="roles?.rts_reports_last?.link"><a routerLink="/r-rts"><i class="rgt-arrow fa fa-chevron-right"></i> RTS Reports</a></li>
                    <li *ngIf="roles?.deliveries_last?.link"><a routerLink="/r-delivery"><i class="rgt-arrow fa fa-chevron-right"></i> Delivery Reports</a></li>
                    <li *ngIf="roles?.retails_last?.link"><a routerLink="/r-retail"><i class="rgt-arrow fa fa-chevron-right"></i> Retail Reports</a></li>
                    <li *ngIf="roles?.reversal_report?.link"><a routerLink="/r-retail-return"><i class="rgt-arrow fa fa-chevron-right"></i> Reversal Report</a></li>
                    <li *ngIf="roles?.advance_last?.link"><a routerLink="/r-advance"><i class="rgt-arrow fa fa-chevron-right"></i> Advance Reports</a></li>
                    <li *ngIf="roles?.bg_sd_monitoring_last?.link"><a routerLink="/r-bd-sd"><i class="rgt-arrow fa fa-chevron-right"></i> BG/SD Monitoring</a></li>
                    <li *ngIf="roles?.old_tractor_report_last?.link"><a routerLink="/r-old-tractor"><i class="rgt-arrow fa fa-chevron-right"></i> Old Tractor Exchange</a></li>
                    <li *ngIf="roles?.tehsil_based_report_last?.link"><a routerLink="/r-tehsil-based"><i class="rgt-arrow fa fa-chevron-right"></i> Tehsil Based Report</a></li>
                    <li *ngIf="roles?.expected_disbursement_report_last?.link"><a routerLink="/r-exppected-disbursement"><i class="rgt-arrow fa fa-chevron-right"></i> Expected Disbursement Report</a></li>
                    <li *ngIf="roles?.dealer_aging_from_production_last?.link"><a routerLink="/r-aging-from-production"><i class="rgt-arrow fa fa-chevron-right"></i> Aging From Production</a></li>
                    <li *ngIf="roles?.dealer_aging_from_received_last?.link"><a routerLink="/r-aging-from-recieved"><i class="rgt-arrow fa fa-chevron-right"></i> Aging From Received</a></li>
                </ul>
            </li>
            <li *ngIf="roles?.dealer_invoices_sub?.link"><a (click)="invReports()" data-bs-target="invReports" data-bs-toggle="collapse" aria-expanded="false">Invoices <i class="d-arrow fa fa-chevron-down"></i></a>
                <ul #showInv class="collapse" id="invReports">
                    <li *ngIf="roles?.invoices_last?.link"><a routerLink="/invoices"><i class="rgt-arrow fa fa-chevron-right"></i> Invoices</a></li>
                    <li *ngIf="roles?.dealer_invoices_mtd_last?.link"><a routerLink="/invoices-mtd"><i class="rgt-arrow fa fa-chevron-right"></i> Dealer Invoice MTD</a></li>
                </ul>
            </li>
            <li><a (click)="rtnReports()" data-bs-target="rtnReports" data-bs-toggle="collapse" aria-expanded="false">Retrun <i class="d-arrow fa fa-chevron-down"></i></a>
            <ul #showRtn class="collapse" id="rtnReports">
                <li *ngIf="roles?.advance_return_sub?.link"><a routerLink="/advance-return"><i class="rgt-arrow fa fa-chevron-right"></i> Advance Return</a></li>
                <li *ngIf="roles?.sale_return_sub?.link"><a routerLink="/sales-return"><i class="rgt-arrow fa fa-chevron-right"></i> Sale Return</a></li>
                <li *ngIf="roles?.retail_return?.link"><a routerLink="/retail-return"><i class="rgt-arrow fa fa-chevron-right"></i> Retail Return</a></li>
            </ul>
        </li>
            <li *ngIf="roles?.sale_return_receipt_list_sub?.link"><a routerLink="/sale-return-receipt">Sale Return Receipt List</a></li>
            <li *ngIf="roles?.dealer_collection_entry_sub?.link"><a routerLink="/dealer-collection-entry">Dealer Collection Entry</a></li>
            <li *ngIf="roles?.dealer_statement_sub?.link"><a (click)="delStatement()" data-bs-target="delStat" data-bs-toggle="collapse" aria-expanded="false">Dealer Statement <i class="d-arrow fa fa-chevron-down"></i></a>
                <ul #showStat class="collapse" id="delStat">
                    <li *ngIf="roles?.dealer_statement_upload_last?.link"><a routerLink="/statement-upload"><i class="rgt-arrow fa fa-chevron-right"></i> Statement Upload</a></li>
                    <li *ngIf="roles?.dealer_opening_sheet_last?.link"><a routerLink="/opening-closing-sheet"><i class="rgt-arrow fa fa-chevron-right"></i> Opening/Closing Sheet</a></li>
                    <li *ngIf="roles?.dealer_monthly_statement_last?.link"><a routerLink="/monthly-statement"><i class="rgt-arrow fa fa-chevron-right"></i> Monthly Statement</a></li>
                </ul>
            </li>
            <li *ngIf="roles?.dealer_plan_sub?.link"><a (click)="plansRep()" data-bs-target="planR" data-bs-toggle="collapse" aria-expanded="false">Plans <i class="d-arrow fa fa-chevron-down"></i></a>
                <ul #showPlans class="collapse" id="planR">
                    <li *ngIf="roles?.sale_plan_upload_last?.link"><a routerLink="/upload-sale-plan"><i class="rgt-arrow fa fa-chevron-right"></i> Sale Plan Upload</a></li>
                    <li *ngIf="roles?.sale_plan_report_last?.link"><a routerLink="/r-sale-plan"><i class="rgt-arrow fa fa-chevron-right"></i> Sale Plan Report</a></li>
                    <li *ngIf="roles?.collection_plan_upload_last?.link"><a routerLink="/upload-collection-plan"><i class="rgt-arrow fa fa-chevron-right"></i> Collection Plan Upload</a></li>
                    <li *ngIf="roles?.collection_plan_report_last?.link"><a routerLink="/r-collection-plan"><i class="rgt-arrow fa fa-chevron-right"></i> Collection Plan Report</a></li>
                    <li *ngIf="roles?.delivery_plan_upload_last?.link"><a routerLink="/upload-delivery-plan"><i class="rgt-arrow fa fa-chevron-right"></i> Delivery Plan Upload</a></li>
                    <li *ngIf="roles?.delivery_plan_report_last?.link"><a routerLink="/r-delivery-plan"><i class="rgt-arrow fa fa-chevron-right"></i> Delivery Plan Report</a></li>
                    <li *ngIf="roles?.retail_plan_upload_last?.link"><a routerLink="/upload-retail-plan"><i class="rgt-arrow fa fa-chevron-right"></i> Retail Plan Upload</a></li>
                    <li *ngIf="roles?.retail_plan_report_last?.link"><a routerLink="/r-retail-plan"><i class="rgt-arrow fa fa-chevron-right"></i> Retail Plan Report</a></li>
                </ul>
            </li>
            <li *ngIf="roles?.ats_sub?.link"><a (click)="atsRep()" data-bs-target="atsR" data-bs-toggle="collapse" aria-expanded="false">ATS <i class="d-arrow fa fa-chevron-down"></i></a>
                <ul #showAts class="collapse" id="atsR">
                    <li *ngIf="roles?.delivery_last?.link"><a routerLink="/ats-delivery"><i class="rgt-arrow fa fa-chevron-right"></i> Delivery</a></li>
                    <li *ngIf="roles?.retail_last?.link"><a routerLink="/ats-retail"><i class="rgt-arrow fa fa-chevron-right"></i> Retail</a></li>
                    <li *ngIf="roles?.insurance_last?.link"><a routerLink="/ats-insurance"><i class="rgt-arrow fa fa-chevron-right"></i> Insurance</a></li>
                </ul>
            </li>
            <li *ngIf="roles?.bgs_sub?.link"><a routerLink="/bgs-report">BGS</a></li>
        </ul>
    </div>
    <div #depotNav class="sm-depotMenu">
        <ul class="depots menu" *ngIf="roles?.depot_main?.link">
            <li *ngIf="roles?.generate_transfer_note_sub?.link"><a routerLink="/gr-note">Generate Transfer Note</a></li>
            <li *ngIf="roles?.depot_stock_sub?.link"><a routerLink="/depot-stock">Depot Stock</a></li>
            <li *ngIf="roles?.depot_stock_variant_wise_sub?.link"><a routerLink="/depot-stock-variantWise">Depot Stock Variant Wise</a></li>
            <li *ngIf="roles?.view_depot_reports_sub?.link" class="dropdown"><a id="dsvDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">View Report <i class="d-arrow fa fa-chevron-down"></i></a>
                <ul class="dropdown-menu" aria-labelledby="dsvDropdown">
                    <li *ngIf="roles?.depot_to_depot_invoice_last?.link"><a routerLink="/depot-depot-invoice"><i class="rgt-arrow fa fa-chevron-right"></i> Depot - Depot Invoice</a></li>
                    <li *ngIf="roles?.depot_to_dealer_invoice_last?.link"><a routerLink="/depot-dealer-invoice"><i class="rgt-arrow fa fa-chevron-right"></i> Depot - Dealer Invoice</a></li>
                    <li *ngIf="roles?.salereturninvoice_last?.link"><a routerLink="/sales-return-invoice"><i class="rgt-arrow fa fa-chevron-right"></i> Sale Return Invoice</a></li>
                    <li *ngIf="roles?.depot_aging_from_production_last?.link"><a routerLink="/depot-aging-production"><i class="rgt-arrow fa fa-chevron-right"></i> Aging From Production</a></li>
                    <li *ngIf="roles?.depot_aging_from_received_last?.link"><a routerLink="/depot-aging-recieved"><i class="rgt-arrow fa fa-chevron-right"></i> Aging From Received</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div #plantNav class="sm-plantMenu">
        <ul class="plants menu" *ngIf="roles?.plant_main?.link">
            <li *ngIf="roles?.plant_stock_sub?.link"><a routerLink="/plant-stock">Plant Stock</a></li>
            <li *ngIf="roles?.capitalized_stock_sub?.link"><a routerLink="/c-stock">Capitalized Stock</a></li>
        </ul>
    </div>
    <div #dashNav class="sm-dashboardMenu">
        <ul class="dashboard menu" *ngIf="roles?.dashboard_main?.link">
            <li *ngIf="roles?.vehicle_history_sub?.link"><a routerLink="/vehicle-history">Vehicle History</a></li>
            <li *ngIf="roles?.history_report_sub?.link"><a routerLink="/history-report">History Report</a></li>
        </ul>
    </div>
    <div #masterNav class="sm-masterMenu">
        <ul #masters class="masters menu">
            <li *ngIf="roles?.depot_master_sub?.link"><a routerLink="/m-depot">Depot Master</a></li>
            <li *ngIf="roles?.dealer_master_sub?.link"><a routerLink="/m-dealer">Dealer Master</a></li>
            <li *ngIf="roles?.variant_master_sub?.link"><a routerLink="/m-variant">Variant Master</a></li>
            <li *ngIf="roles?.power_master_sub?.link"><a routerLink="/m-on-power">On-Power Master</a></li>
            <li *ngIf="roles?.transport_master_sub?.link"><a routerLink="/m-transport">Transporter Master</a></li>
            <li *ngIf="roles?.parts_master_sub?.link"><a routerLink="/m-part">Parts Master</a></li>
            <li *ngIf="roles?.user_master_sub?.link"><a routerLink="/m-user">Users Master</a></li>
            <li *ngIf="roles?.hsn_master_sub?.link"><a routerLink="/m-hsn-code">HSN Code Master</a></li>
            <li *ngIf="roles?.financial_master_sub?.link"><a routerLink="/m-financial">Financial Institution Master</a></li>
            <li *ngIf="roles?.customer_master_sub?.link"><a routerLink="/m-customer">Customer Master</a></li>
            <li *ngIf="roles?.roles_master_sub?.link"><a routerLink="/m-roles">Roles Master</a></li>
            <li *ngIf="roles?.state_master_sub?.link"><a routerLink="/m-state">State Master</a></li>
            <li *ngIf="roles?.zone_master_sub?.link"><a routerLink="/m-zone">Zone Master</a></li>
            <li *ngIf="roles?.city_master_sub?.link"><a routerLink="/m-city">City Master</a></li>
        </ul>
    </div>
  </div>
  <nav class="mobile-btm-menubar" *ngIf="isMenuLoad">
      <a class="navLink dashboard" (click)="openDashboardNav()" title="Dashboard"><i class="fa fa-th-large"></i>
          <span class="d-block menuTxt">Dashboard</span>
      </a>
      <a class="navLink masters" *ngIf="roles?.masters_main?.link" (click)="openMasterNav()" title="Masters"><i class="fa fa-cogs"></i>
          <span class="d-block menuTxt">Master</span>
      </a>
      <a class="navLink plant" *ngIf="roles?.plant_main?.link" (click)="openPlantNav()" title="Plant"><i class="fa fa-industry"></i>
          <span class="d-block menuTxt">Plant</span>
      </a>
      <a class="navLink depot" *ngIf="roles?.depot_main?.link" (click)="openDepotNav()" title="Depot"><i class="fas fa-dolly-flatbed"></i>
          <span class="d-block menuTxt">Depot</span>
      </a>
      <a class="navLink dealers" *ngIf="roles?.dealers_main?.link" (click)="openDealerNav()" title="Dealers"><i class="fas fa-user-friends"></i>
          <span class="d-block menuTxt">Dealers</span>
       </a>
  </nav>
  <!-- mobile-view end -->
  <!-- desktop-view -->
  <nav class="sideBarMenu">
      <ul class="profileArea">
        <li><a routerLink="/home" title="Profile"><i class="fa fa-user"></i></a></li>
      </ul>
      <ul class="menu-area" *ngIf="isMenuLoad">
        <li class="dropdown drop-down01" *ngIf="roles?.dashboard_main?.link">
            <a title="Dashboard" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-th-large"></i></a>
            <ul class="dropdown-menu sub-menu01">
            <li *ngIf="roles?.vehicle_history_sub?.link"><a routerLink="/vehicle-history">Vehicle History</a></li>
            <li *ngIf="roles?.history_report_sub?.link"><a routerLink="/history-report">History Report</a></li>
            </ul>
        </li>
        <li class="dropdown drop-down01">
            <a title="Masters" id="navbarDropdown" *ngIf="roles?.masters_main?.link" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-cogs"></i></a>
            <ul class="dropdown-menu sub-menu01">
                <li><a routerLink="/m-company">Company Master</a></li>
                <li *ngIf="roles?.depot_master_sub?.link"><a routerLink="/m-depot">Depot Master</a></li>
                <li *ngIf="roles?.dealer_master_sub?.link"><a routerLink="/m-dealer">Dealer Master</a></li>
                <li *ngIf="roles?.variant_master_sub?.link"><a routerLink="/m-variant">Variant Master</a></li>
                <li *ngIf="roles?.power_master_sub?.link"><a routerLink="/m-on-power">On-Power Master</a></li>
                <li *ngIf="roles?.transport_master_sub?.link"><a routerLink="/m-transport">Transporter Master</a></li>
                <li *ngIf="roles?.parts_master_sub?.link"><a routerLink="/m-part">Parts Master</a></li>
                <li *ngIf="roles?.user_master_sub?.link"><a routerLink="/m-user">Users Master</a></li>
                <li *ngIf="roles?.hsn_master_sub?.link"><a routerLink="/m-hsn-code">HSN Code Master</a></li>
                <li *ngIf="roles?.financial_master_sub?.link"><a routerLink="/m-financial">Financial Institution Master</a></li>
                <li *ngIf="roles?.customer_master_sub?.link"><a routerLink="/m-customer">Customer Master</a></li>
                <li *ngIf="roles?.roles_master_sub?.link"><a routerLink="/m-roles">Roles Master</a></li>
                <li *ngIf="roles?.state_master_sub?.link"><a routerLink="/m-state">State Master</a></li>
                <li *ngIf="roles?.zone_master_sub?.link"><a routerLink="/m-zone">Zone Master</a></li>
                <li *ngIf="roles?.city_master_sub?.link"><a routerLink="/m-city">City Master</a></li>
            </ul>
        </li>
        <li class="dropdown drop-down01">
            <a title="Plant" id="navbarDropdown" *ngIf="roles?.plant_main?.link" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-industry"></i></a>
            <ul class="dropdown-menu sub-menu01">
                <li *ngIf="roles?.plant_stock_sub?.link"><a routerLink="/plant-stock">Plant Stock</a></li>
                <li *ngIf="roles?.capital_stock_sub?.link"><a routerLink="/c-stock">Capitalized Stock</a></li>
            </ul>
        </li>
        <li class="dropdown drop-down01">
            <a title="Depot" id="navbarDropdown" *ngIf="roles?.depot_main?.link" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-dolly-flatbed"></i></a>
            <ul class="dropdown-menu sub-menu01">
                <li *ngIf="roles?.generate_transfer_note_sub?.link"><a routerLink="/gr-note">Generate Transfer Note</a></li>
                <li *ngIf="roles?.depot_stock_sub?.link"><a routerLink="/depot-stock">Depot Stock</a></li>
                <li *ngIf="roles?.depot_stock_variant_wise_sub?.link"><a routerLink="/depot-stock-variantWise">Depot Stock Variant Wise</a></li>
                <li *ngIf="roles?.view_depot_reports_sub?.link" class="dropdown drop-down01">
                    <a id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">View Report<span class="rgt-arrow">&rsaquo;</span></a>
                    <ul class="dropdown-submenu sub-menu01">
                        <li *ngIf="roles?.depot_to_depot_invoice_last?.link"><a routerLink="/depot-depot-invoice">Depot - Depot Invoice</a></li>
                        <li *ngIf="roles?.depot_to_dealer_invoice_last?.link"><a routerLink="/depot-dealer-invoice">Depot - Dealer Invoice</a></li>
                        <li *ngIf="roles?.salereturninvoice_last?.link"><a routerLink="/sales-return-invoice">Sale Return Invoice</a></li>
                        <li *ngIf="roles?.depot_aging_from_production_last?.link"><a routerLink="/depot-aging-production">Aging From Production</a></li>
                        <li *ngIf="roles?.depot_aging_from_received_last?.link"><a routerLink="/depot-aging-recieved">Aging From Received</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="dropdown drop-down01">
          <a title="Dealers" id="navbarDropdown" *ngIf="roles?.dealers_main?.link" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user-friends"></i></a>
          <ul class="dropdown-menu sub-menu01">
          <li *ngIf="roles?.view_dealer_reports_sub?.link">
            <a>View Report<span class="rgt-arrow">&rsaquo;</span></a>
            <ul>
              <li *ngIf="roles?.dealer_stock_last?.link"><a routerLink="/r-dealer-stock">Dealer Stock</a></li>
              <li *ngIf="roles?.dealer_stock_variant_wise_last?.link"><a routerLink="/r-dealer-stock-variantwise">Dealer Stock Variant Wise</a></li>
              <li *ngIf="roles?.dealer_collection_mtd_last?.link"><a routerLink="/r-dealer-collection">Dealer Collection MTD</a></li>
              <li *ngIf="roles?.dealer_collection_daywise_last?.link"><a routerLink="/r-dealer-daily-collection">Dealer Collection Daywise</a></li>
              <li *ngIf="roles?.ats_reports_last?.link"><a routerLink="/r-ats">ATS Reports</a></li>
              <li *ngIf="roles?.rts_reports_last?.link"><a routerLink="/r-rts">RTS Reports</a></li>
              <li *ngIf="roles?.deliveries_last?.link"><a routerLink="/r-delivery">Delivery Reports</a></li>
              <li *ngIf="roles?.retails_last?.link"><a routerLink="/r-retail">Retail Reports</a></li>
              <li *ngIf="roles?.reversal_report?.link"><a routerLink="/r-retail-return">Reversal Report</a></li>
              <li *ngIf="roles?.advance_last?.link"><a routerLink="/r-advance">Advance Reports</a></li>
              <li *ngIf="roles?.bg_sd_monitoring_last?.link"><a routerLink="/r-bd-sd">BG/SD Monitoring</a></li>
              <li *ngIf="roles?.old_tractor_report_last?.link"><a routerLink="/r-old-tractor">Old Tractor Exchange</a></li>
              <li *ngIf="roles?.tehsil_based_report_last?.link"><a routerLink="/r-tehsil-based">Tehsil Based Report</a></li>
              <li *ngIf="roles?.expected_disbursement_report_last?.link"><a routerLink="/r-exppected-disbursement">Expected Disbursement Report</a></li>
              <li *ngIf="roles?.dealer_aging_from_production_last?.link"><a routerLink="/r-aging-from-production">Aging From Production</a></li>
              <li *ngIf="roles?.dealer_aging_from_received_last?.link"><a routerLink="/r-aging-from-recieved">Aging From Received</a></li>
            </ul>
          </li>
            <li *ngIf="roles?.dealer_invoices_sub?.link">
              <a>Invoices<span class="rgt-arrow">&rsaquo;</span></a>
              <ul>
                <li *ngIf="roles?.invoices_last?.link"><a routerLink="/invoices">Invoices</a></li>
                <li *ngIf="roles?.dealer_invoices_mtd_last?.link"><a routerLink="/invoices-mtd">Dealer Invoice MTD</a></li>
              </ul>
            </li>
            <li>
              <a>Retrun<span class="rgt-arrow">&rsaquo;</span></a>
            <ul>
              <li *ngIf="roles?.advance_return_sub?.link"><a routerLink="/advance-return">Advance Return</a></li>
              <li *ngIf="roles?.sale_return_sub?.link"><a routerLink="/sales-return">Sale Return</a></li>
              <li *ngIf="roles?.retail_return?.link"><a routerLink="/retail-return">Retail Return</a></li>
            </ul>
          </li>
            <li *ngIf="roles?.sale_return_receipt_list_sub?.link"><a routerLink="/sale-return-receipt">Sale Return Receipt List</a></li>
            <li *ngIf="roles?.dealer_collection_entry_sub?.link"><a routerLink="/dealer-collection-entry">Dealer Collection Entry</a></li>
            <li *ngIf="roles?.dealer_statement_sub?.link"><a>Dealer Statement<span class="rgt-arrow">&rsaquo;</span></a>
              <ul>
                <li *ngIf="roles?.dealer_statement_upload_last?.link"><a routerLink="/statement-upload">Statement Upload</a></li>
                <li *ngIf="roles?.dealer_opening_sheet_last?.link"><a routerLink="/opening-closing-sheet">Opening/Closing Sheet</a></li>
                <li *ngIf="roles?.dealer_monthly_statement_last?.link"><a routerLink="/monthly-statement">Monthly Statement</a></li>
              </ul>
            </li>
            <li *ngIf="roles?.dealer_plan_sub?.link"><a>Plans<span class="rgt-arrow">&rsaquo;</span></a>
              <ul>
                <li *ngIf="roles?.sale_plan_upload_last?.link"><a routerLink="/upload-sale-plan">Sale Plan Upload</a></li>
                <li *ngIf="roles?.sale_plan_report_last?.link"><a routerLink="/r-sale-plan">Sale Plan Report</a></li>
                <li *ngIf="roles?.collection_plan_upload_last?.link"><a routerLink="/upload-collection-plan">Collection Plan Upload</a></li>
                <li *ngIf="roles?.collection_plan_report_last?.link"><a routerLink="/r-collection-plan">Collection Plan Report</a></li>
                <li *ngIf="roles?.delivery_plan_upload_last?.link"><a routerLink="/upload-delivery-plan">Delivery Plan Upload</a></li>
                <li *ngIf="roles?.delivery_plan_report_last?.link"><a routerLink="/r-delivery-plan">Delivery Plan Report</a></li>
                <li *ngIf="roles?.retail_plan_upload_last?.link"><a routerLink="/upload-retail-plan">Retail Plan Upload</a></li>
                <li *ngIf="roles?.retail_plan_report_last?.link"><a routerLink="/r-retail-plan">Retail Plan Report</a></li>
              </ul>
            </li>
            <li *ngIf="roles?.ats_sub?.link"><a>ATS<span class="rgt-arrow">&rsaquo;</span></a>
              <ul>
                <li *ngIf="roles?.delivery_last?.link"><a routerLink="/ats-delivery">Delivery</a></li>
                <li *ngIf="roles?.retail_last?.link"><a routerLink="/ats-retail">Retail</a></li>
                <li *ngIf="roles?.insurance_last?.link"><a routerLink="/ats-insurance">Insurance</a></li>
              </ul>
            </li>
            <li *ngIf="roles?.bgs_sub?.link"><a routerLink="/bgs-report">BGS</a></li>
          </ul>
        </li>
      </ul>
      <div class="settingArea">
        <ul class="menu-area" *ngIf="isMenuLoad">
          <li class="dropdown drop-down01">
            <a title="Dashboard" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-cog"></i></a>
            <ul class="dropdown-menu sub-menu01">
              <li><a routerLink="/change-pass">Change Password</a></li>
              <li><a routerLink="/user-profile">User Profile</a></li>
              <li><a (click)="getLogout()">Log Out</a></li>
            </ul>
          </li>
        </ul>
       </div>
  </nav>
  <!-- desktop-view end -->
</div>

