<nav class="sideBarMenu">
    <ul class="profileArea">
         <li><a routerLink="/" title="Profile"><i class="fa fa-user"></i></a></li>
    </ul>
    <ul class="menu-area">
         <li>
             <a title="Dashboard"><i class="fa fa-th-large"></i></a>
             <ul>
                 <li><a routerLink="#">Vehicle History</a></li>
                 <li><a routerLink="#">History Report</a></li>
             </ul>
         </li>
         <li><a routerLink="/" title="Masters"><i class="fa fa-users"></i></a>
             <ul>
                 <li><a routerLink="/depot-master">Depot Master</a></li>
                 <li><a routerLink="/dealer-master">Dealer Master</a></li>
                 <li><a routerLink="/variant-master">Variant Master</a></li>
                 <li><a routerLink="/on-power-master">On-Power Master</a></li>
                 <li><a routerLink="/transport-master">Transporter Master</a></li>
                 <li><a routerLink="/part-master">Parts Master</a></li>
                 <li><a routerLink="/user-master">Users Master</a></li>
                 <li><a routerLink="/financial-master">Financial Institution Master</a></li>
                 <li><a routerLink="/customer-master">Customer Master</a></li>
                 <li><a routerLink="/roles-master">Roles Master</a></li>
                 <li><a routerLink="/state-master">State Master</a></li>
                 <li><a routerLink="/zone-master">Zone Master</a></li>
                 <li><a routerLink="/city-master">City Master</a></li>
             </ul>
         </li>
         <li>
             <a title="Plant"><i class="fa fa-industry"></i></a>
             <ul>
                 <li><a routerLink="/plant-stock">Plant Stock</a></li>
                 <li><a routerLink="/c-stock">Capitalized Stock</a></li>
             </ul>
         </li>
         <li>
             <a title="Depot"><i class="fa fa-cube"></i></a>
             <ul>
                 <li><a routerLink="/grNote">Generate Transfer Note</a></li>
                 <li><a routerLink="/depotStock">Depot Stock</a></li>
                 <li><a routerLink="/depotStockVariantWise">Depot Stock Variant Wise</a></li>
                 <li><a>View Report<span class="rgt-arrow">&rsaquo;</span></a>
                     <ul>
                         <li><a routerLink="/depot-DepotInvoice">Depot - Depot Invoice</a></li>
                         <li><a routerLink="/depot-DealerInvoice">Depot - Dealer Invoice</a></li>
                         <li><a routerLink="/salesReturnInvoice">Sale Return Invoice</a></li>
                         <li><a routerLink="/depotAgingProduction">Aging From Production</a></li>
                         <li><a routerLink="/depotAgingRecieved">Aging From Received</a></li>
                     </ul>
                 </li>
             </ul>
         </li>
         <li>
             <a title="Dealers"><i class="fa fa-cubes"></i></a>
             <ul>
                 <li><a routerLink="#">View Reports<span class="rgt-arrow">&rsaquo;</span></a>
                     <ul>
                         <li><a routerLink="#">Dealer Stock</a></li>
                         <li><a routerLink="#">Dealer Stock Variant Wise</a></li>
                         <li><a routerLink="#">Dealer Collection MTD</a></li>
                         <li><a routerLink="#">Dealer Collection Daywise</a></li>
                         <li><a routerLink="#">ATS Reports</a></li>
                         <li><a routerLink="#">RTS Reports</a></li>
                         <li><a routerLink="#">Delivery Reports</a></li>
                         <li><a routerLink="#">Retail Reports</a></li>
                         <li><a routerLink="#">Reversal Report</a></li>
                         <li><a routerLink="#">Invoice Report</a></li>
                         <li><a routerLink="#">Cities Data</a></li>
                         <li><a routerLink="#">Advance Reports</a></li>
                         <li><a routerLink="#">BG/SD Monitoring</a></li>
                         <li><a routerLink="#">Old Tractor Exchange</a></li>
                         <li><a routerLink="#">Tehsil Based Report</a></li>
                         <li><a routerLink="#">Expected Disbursement Report</a></li>
                         <li><a routerLink="#">Aging From Production</a></li>
                         <li><a routerLink="#">Aging From Received</a></li>
                     </ul>
                 </li>
                 <li><a routerLink="#">Invoices<span class="rgt-arrow">&rsaquo;</span></a>
                     <ul>
                         <li><a routerLink="#">Invoices</a></li>
                         <li><a routerLink="#">Dealer Invoice MTD</a></li>
                     </ul>
                 </li>
                 <li><a routerLink="#">Sale Return</a></li>
                 <li><a routerLink="#">Sale Return Receipt List</a></li>
                 <li><a routerLink="#">Dealer Collection Entry</a></li>
                 <li><a routerLink="#">Dealer Statement<span class="rgt-arrow">&rsaquo;</span></a>
                     <ul>
                         <li><a routerLink="#">Statement Upload</a></li>
                         <li><a routerLink="#">Opening/Closing Sheet</a></li>
                         <li><a routerLink="#">Monthly Statement</a></li>
                     </ul>
                 </li>
                 <li><a routerLink="#">Plans<span class="rgt-arrow">&rsaquo;</span></a>
                     <ul>
                         <li><a routerLink="#">Sale Plan Upload</a></li>
                         <li><a routerLink="#">Sale Plan Report</a></li>
                         <li><a routerLink="#">Collection Plan Upload</a></li>
                         <li><a routerLink="#">Collection Plan Report</a></li>
                         <li><a routerLink="#">Delivery Plan Upload</a></li>
                         <li><a routerLink="#">Delivery Plan Report</a></li>
                         <li><a routerLink="#">Retail Plan Upload</a></li>
                         <li><a routerLink="#">Retail Plan Report</a></li>
                     </ul>
                 </li>
                 <li><a routerLink="#">ATS<span class="rgt-arrow">&rsaquo;</span></a>
                     <ul>
                         <li><a routerLink="#">Delivery</a></li>
                         <li><a routerLink="#">Retail</a></li>
                         <li><a routerLink="#">Insurance</a></li>
                     </ul>
                 </li>
                 <li><a routerLink="#">BGS</a></li>
                 <li><a routerLink="#">Advance Return</a></li>
                 <li><a routerLink="#">Retail Return</a></li>
             </ul>
         </li>
    </ul>
     <div class="settingArea">
         <a type="button" (click)="getLogout()"><i class="fa fa-power-off"></i></a>
     </div>
</nav>
