<nav class="sideBarMenu">
    <ul class="profileArea">
         <li><a routerLink="/" title="Profile"><i class="fa fa-user"></i></a></li>
    </ul>
    <ul class="menu-area">
         <li>
             <a title="Dashboard"><i class="fa fa-th-large"></i></a>
             <ul>
                 <li><a routerLink="#">Vehicle History</a></li>
                 <li><a routerLink="#">History Report</a></li>
             </ul>
         </li>
         <li><a title="Masters"><i class="fa fa-users"></i></a>
             <ul>
                 <li><a routerLink="/m-depot">Depot Master</a></li>
                 <li><a routerLink="/m-dealer">Dealer Master</a></li>
                 <li><a routerLink="/m-variant">Variant Master</a></li>
                 <li><a routerLink="/m-on-power">On-Power Master</a></li>
                 <li><a routerLink="/m-transport">Transporter Master</a></li>
                 <li><a routerLink="/m-part">Parts Master</a></li>
                 <li><a routerLink="/m-user">Users Master</a></li>
                 <li><a routerLink="/m-financial">Financial Institution Master</a></li>
                 <li><a routerLink="/m-customer">Customer Master</a></li>
                 <li><a routerLink="/m-roles">Roles Master</a></li>
                 <li><a routerLink="/m-state">State Master</a></li>
                 <li><a routerLink="/m-zone">Zone Master</a></li>
                 <li><a routerLink="/m-city">City Master</a></li>
             </ul>
         </li>
         <li>
             <a title="Plant"><i class="fa fa-industry"></i></a>
             <ul>
                 <li><a routerLink="/plant-stock">Plant Stock</a></li>
                 <li><a routerLink="/c-stock">Capitalized Stock</a></li>
             </ul>
         </li>
         <li>
             <a title="Depot"><i class="fa fa-cube"></i></a>
             <ul>
                 <li><a routerLink="/grNote">Generate Transfer Note</a></li>
                 <li><a routerLink="/depotStock">Depot Stock</a></li>
                 <li><a routerLink="/depotStockVariantWise">Depot Stock Variant Wise</a></li>
                 <li><a>View Report<span class="rgt-arrow">&rsaquo;</span></a>
                     <ul>
                         <li><a routerLink="/depot-DepotInvoice">Depot - Depot Invoice</a></li>
                         <li><a routerLink="/depot-DealerInvoice">Depot - Dealer Invoice</a></li>
                         <li><a routerLink="/salesReturnInvoice">Sale Return Invoice</a></li>
                         <li><a routerLink="/depotAgingProduction">Aging From Production</a></li>
                         <li><a routerLink="/depotAgingRecieved">Aging From Received</a></li>
                     </ul>
                 </li>
             </ul>
         </li>
         <li>
             <a title="Dealers"><i class="fa fa-cubes"></i></a>
             <ul>
                 <li><a>View Reports<span class="rgt-arrow">&rsaquo;</span></a>
                     <ul>
                         <li><a routerLink="/r-dealer-stock">Dealer Stock</a></li>
                         <li><a routerLink="/r-dealer-stock-variantwise">Dealer Stock Variant Wise</a></li>
                         <li><a routerLink="/r-dealer-collection">Dealer Collection MTD</a></li>
                         <li><a routerLink="/r-dealer-daily-collection">Dealer Collection Daywise</a></li>
                         <li><a routerLink="/r-ats">ATS Reports</a></li>
                         <li><a routerLink="/r-rts">RTS Reports</a></li>
                         <li><a routerLink="/r-delivery">Delivery Reports</a></li>
                         <li><a routerLink="/r-retail">Retail Reports</a></li>
                         <li><a routerLink="/r-retail-return">Reversal Report</a></li>
                         <li><a routerLink="/r-advance">Advance Reports</a></li>
                         <li><a routerLink="/r-bd-sd">BG/SD Monitoring</a></li>
                         <li><a routerLink="/r-old-tractor">Old Tractor Exchange</a></li>
                         <li><a routerLink="/r-tehsil-based">Tehsil Based Report</a></li>
                         <li><a routerLink="/r-exppected-disbursement">Expected Disbursement Report</a></li>
                         <li><a routerLink="/r-aging-from-production">Aging From Production</a></li>
                         <li><a routerLink="/r-aging-from-recieved">Aging From Received</a></li>
                     </ul>
                 </li>
                 <li><a>Invoices<span class="rgt-arrow">&rsaquo;</span></a>
                     <ul>
                         <li><a routerLink="/invoices">Invoices</a></li>
                         <li><a routerLink="/invoices-mtd">Dealer Invoice MTD</a></li>
                     </ul>
                 </li>
                 <li><a>Retrun<span class="rgt-arrow">&rsaquo;</span></a>
                  <ul>
                    <li><a routerLink="/advance-return">Advance Return</a></li>
                    <li><a routerLink="/sales-return">Sale Return</a></li>
                    <li><a routerLink="/retail-return">Retail Return</a></li>
                  </ul>
              </li>
                 <li><a routerLink="/sale-return-receipt">Sale Return Receipt List</a></li>
                 <li><a routerLink="/dealer-collection-entry">Dealer Collection Entry</a></li>
                 <li><a>Dealer Statement<span class="rgt-arrow">&rsaquo;</span></a>
                     <ul>
                         <li><a routerLink="/statement-upload">Statement Upload</a></li>
                         <li><a routerLink="/opening-closing-sheet">Opening/Closing Sheet</a></li>
                         <li><a routerLink="/monthly-statement">Monthly Statement</a></li>
                     </ul>
                 </li>
                 <li><a>Plans<span class="rgt-arrow">&rsaquo;</span></a>
                     <ul>
                         <li><a routerLink="/upload-sale-plan">Sale Plan Upload</a></li>
                         <li><a routerLink="/r-sale-plan">Sale Plan Report</a></li>
                         <li><a routerLink="/upload-collection-plan">Collection Plan Upload</a></li>
                         <li><a routerLink="/r-collection-plan">Collection Plan Report</a></li>
                         <li><a routerLink="/upload-delivery-plan">Delivery Plan Upload</a></li>
                         <li><a routerLink="/r-delivery-plan">Delivery Plan Report</a></li>
                         <li><a routerLink="/upload-retail-plan">Retail Plan Upload</a></li>
                         <li><a routerLink="/r-retail-plan">Retail Plan Report</a></li>
                     </ul>
                 </li>
                 <li><a>ATS<span class="rgt-arrow">&rsaquo;</span></a>
                     <ul>
                         <li><a routerLink="/ats-delivery">Delivery</a></li>
                         <li><a routerLink="/ats-retail">Retail</a></li>
                         <li><a routerLink="/ats-insurance">Insurance</a></li>
                     </ul>
                 </li>
                 <li><a routerLink="/bgs-report">BGS</a></li>
             </ul>
         </li>
    </ul>
     <div class="settingArea">
         <a type="button" (click)="getLogout()"><i class="fa fa-power-off"></i></a>
     </div>
</nav>
