<div class="container-fluid px-0" *ngIf="user">
  <div class="row" style="height: 100%; bottom: 0">
    <div class="col-md-1 sub-menu" *ngIf="router.url !== '/'">
      <div class="position-fixed">
        <div class="row">
          <div class="col-md-10 mob-nav-cont">
            <app-menu></app-menu>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-11">
      <app-header *ngIf="router.url !== '/'"></app-header>
      <router-outlet></router-outlet>
      <app-footer *ngIf="router.url !== '/'"></app-footer>
    </div>
  </div>
</div>
<div *ngIf="!user">
  <router-outlet></router-outlet>
</div>
