<div class="container-fluid px-0 wrapMain" *ngIf="user">
  <div class="row" style="height: 100%; bottom: 0">
    <div class="sub-menu">
      <div class="sidebar_menu">
        <div class="row">
          <div class="col-md-10 mob-nav-cont">
            <app-menu></app-menu>
          </div>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="col-md-12 content-space">
        <app-header></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!user">
  <router-outlet></router-outlet>
</div>
