<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- searchbar-row -->
        <div class="sidebarMain">
          <div class="row">
            <div class="col-md-12">
              <ul class="model-menu">
                <li><a routerLink="/">Home</a></li>/
                <li><a routerLink="/user-profile">User Profile</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid card p-4 mb-4">
    <div class="row" *ngFor="let user of profile">
      <header style="background-color: #333333;">
        <div class="row p-1">
          <div class="col-md-11">
            <h3 class="text-center text-white">{{user?.firstName}} {{user?.lastName}} ( {{user?.empID}} )</h3>
          </div>
          <div class="col-md-1">
            <div class="d-grid gap-2">
              <button class="btn text-white" (click)="editProfile()"><i class="fas fa-edit"></i></button>
            </div>
          </div>
        </div>
      </header><hr>
        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-5 text-right" for="">Company Name :</label>
            <div class="col-sm-7 col-md-7">{{user?.companyName}}</div>
          </div>
          <div class="row">
            <label class="col-sm-5 text-right" for="">Name :</label>
            <div class="col-sm-7 col-md-7">{{user?.firstName}} {{user?.lastName}}</div>
          </div>
          <div class="row">
            <label class="col-sm-5 text-right" for="">Role :</label>
            <div class="col-sm-7 col-md-7">{{user?.role}}</div>
          </div>
          <div class="row">
            <label class="col-sm-5 text-right" for="">E-Mail :</label>
            <div class="col-sm-7 col-md-7">{{user?.email}}</div>
          </div>
          <div class="row">
            <label class="col-sm-5 text-right" for="">Mobile Number :</label>
            <div class="col-sm-7 col-md-7">{{user?.mobile}}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <label class="col-sm-5 text-right" for="">Country :</label>
            <div class="col-sm-7 col-md-7">{{user?.address.country}}</div>
          </div>
          <div class="row">
            <label class="col-sm-5 text-right" for="">State :</label>
            <div class="col-sm-7 col-md-7">{{user?.address.state}}</div>
          </div>
          <div class="row">
            <label class="col-sm-5 text-right" for="">City :</label>
            <div class="col-sm-7 col-md-7">{{user?.address.city}}</div>
          </div>
          <div class="row">
            <label class="col-sm-5 text-right" for="">Location :</label>
            <div class="col-sm-7 col-md-7">{{user?.address.location}}</div>
          </div>
          <div class="row">
            <label class="col-sm-5 text-right" for="">Pin Code :</label>
            <div class="col-sm-7 col-md-7">{{user?.address.zipcode}}</div>
          </div>
        </div>
      </div>
    </div>
</section>
