<section>
    <div class="container-fluid">
        <div class="row">
            <table class="table">
                <thead class="text-white" style="background: #454397">
                    <tr>
                        <th>Sr. No.</th>
                        <th>Employee ID</th>
                        <th>Role</th>
                        <th>Name</th>
                        <th>Mobile Number</th>
                        <th>Email</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Country</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of usersData | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">
                        <td data-title="Sr. No.">{{pageSize*(p-1)+i+1}}</td>
                        <td data-title="Employee ID">{{user.empID}}</td>
                        <td data-title="Role">{{user.role}}</td>
                        <td data-title="Name">{{user.firstName}} {{user.lastName}}</td>
                        <td data-title="Mobile Number">{{user.mobile}}</td>
                        <td data-title="Email">{{user.email}}</td>
                        <td data-title="City">{{user.address.city}}</td>
                        <td data-title="State">{{user.address.state}}</td>
                        <td data-title="Country">{{user.address.country}}</td>
                        <td data-title="Status">{{user.status}}</td>
                        <td data-title="Options" class="text-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 col-md-6">
                                        <button class="btn bg-blue btn-xs radius_none" data-toggle="modal" [routerLink]="['/master/edit-user', user._id]"><span class="fa fa-edit margin-right-0"></span></button>
                                    </div>
                                    <div class="col-6 col-md-6">
                                        <button class="btn bg-blue btn-xs radius_none" data-toggle="modal" (click)="userDelete(user._id)"><span class="fa fa-trash margin-right-0"></span></button>
                                    </div>
                                </div>
                            </div>
                        </td>
                      </tr>
                </tbody>
            </table>
            <div class="input-group-icon input-group-icon-right col-md-12">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</section>