<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="sidebarMain">
          <div class="row">
            <div class="col-md-12">
              <ul class="model-menu">
                <li onclick="goBack()"><button class="btn badge bg-dark"><i class="fas fa-arrow-left"></i> Back</button></li>
                <li (click)="refresh()"><button class="btn badge bg-primary" title="Refresh"><i class="fas fa-sync-alt"></i></button></li>  |   
                <li><a routerLink="/">Master</a></li>/
                <li><a routerLink="/m-roles">Role Master</a></li>/
                <li>Edit Role</li>
              </ul>
            </div>
            <div class="col-md-6">
              <div class="searchBar d-flex justify-content-center align-items-center">
                <i class="fas fa-search"></i><input class="form-control" type="search" [(ngModel)]="searchData" placeholder="Search" aria-label="Search">
              </div>
            </div>
            <div class="col-md-6 align-self-end text-end">
              <div class="modelBtnMain">
                <button type="button" data-bs-toggle="modal" data-bs-target="#addRole" class="btn btn-primary text-uppercase me-2">+ New Role</button>
              </div>
            </div>
          </div>
        </div>
          <div class="row">
            <div class="table-responsive">
              <table class="table table-striped table-hover align-middle">
                <thead class="text-white sticky-top theadbg">
                  <th colspan="8" class="text-center">Main Menu</th>
                  <tr>
                    <th>#</th>
                    <th>Priority</th>
                    <th>Page Name</th>
                    <th>Link</th>
                    <th>Add</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let role of newFilterArray | filter: searchData | paginate: { itemsPerPage: limit, currentPage: pageData };; let i=index">
                    <td data-title="Sr. No.">{{i+1}}</td>
                    <td data-title="Priority"> <span *ngIf="role?.priority === 0">Main</span><span *ngIf="role?.priority === 1">Sub</span><span *ngIf="role?.priority === 2">Sub_sub</span></td>
                    <td data-title="Page Name"> <a routerLink="/{{role?.linkpath}}">{{role?.pageName}}</a></td>
                    <td data-title="Link"><input type="checkbox" name="{{role?.name}}.link" [(ngModel)]="role.link"></td>
                    <td data-title="Add"><input type="checkbox" name="{{role?.name}}.add" [(ngModel)]="role.add"></td>
                    <td data-title="Edit"><input type="checkbox" name="{{role?.name}}.edit" [(ngModel)]="role.edit"></td>
                    <td data-title="Delete"><input type="checkbox" name="{{role?.name}}.delete" [(ngModel)]="role.delete"></td>
                    <td data-title="Delete"><button class="btn" (click)="editRoles(role)">Update</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        <div class="modal fade" id="addRole" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header modalHeaderCenter" style="background: #454397">
                <h4 class="modal-title text-white text-center">Add new role</h4>
                <a class="btn-close2" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></a>
              </div>
              <div class="modal-body">
                <div class="row mt-1">
                  <div class="table-responsive">
                    <form [formGroup]="form">
                    <table class="table table-striped table-hover align-middle" id="export">
                      <thead class="text-white sticky-top theadbg">
                        <tr>
                          <th>Page Name</th>
                          <th>Link</th>
                          <th>Add</th>
                          <th>Edit</th>
                          <th>Delete</th>
                          <th>Priority</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td data-title="Page Name"><input type="text" class="form-control" placeholder="Page Name" formControlName="pageName"></td>
                          <td data-title="Link"><input type="checkbox" formControlName="link"></td>
                          <td data-title="Add"><input type="checkbox" formControlName="add"></td>
                          <td data-title="Edit"><input type="checkbox" formControlName="edit"></td>
                          <td data-title="Delete"><input type="checkbox" formControlName="delete"></td>
                          <td data-title="Delete"><select name="priority" class="form-control" formControlName="priority"> <option value="0">Main</option><option value="1">Sub</option><option value="2">Sub Sub</option> </select></td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="row">
                      <div class="col-md-5"></div>
                      <div class="col-md-2">
                        <div class="d-grid gap-2">
                          <button class="btn btn-primary" [disabled]="!this.form.valid" (click)="addRoles()">Update new role</button>
                        </div>
                      </div>
                      <div class="col-md-5"></div>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
              <div class="modal-footer border-btm">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
