<section>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
            <ul class="model-menu">
                <li onclick="goBack()"><button class="btn badge bg-dark"><i class="fas fa-arrow-left"></i> Back</button></li>
                <li (click)="refresh()"><button class="btn badge bg-primary" title="Refresh"><i class="fas fa-sync-alt"></i></button></li>  |   
                <li><a routerLink="/">Dealer</a></li>/
                <li><a routerLink="/dealer/viewReports/deliveries">Delivery Reports</a></li>
            </ul>
          </div>
          <div class="col-md-12 card">
              <!-- searchbar-row -->
              <div class="sidebarMain-1">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="searchBar d-flex justify-content-center align-items-center">
                              <i class="fas fa-search"></i><input class="form-control" [(ngModel)]="searchData" type="search" placeholder="Search" aria-label="Search">
                          </div>
                      </div>
                      <div class="col-md-6 align-self-end text-end">
                          <div class="modelBtnMain">
                            <button type="button" class="btn btn-primary" *ngIf="isExcelDownload" (click)="download()" title="Download selected records"><i class="fa fa-download"></i></button>
                          </div>
                          <label for="limit">
                              <select id="limit" name="limit" class="form-select" (click)="dataLimit()">
                              <option *ngFor="let limit of limits" value="{{limit.value}}">{{limit.key}}</option>
                              </select>
                          </label>
                      </div>
                  </div>
              </div>
              <!-- searchbar-row -->
              <div class="table-responsive">
                  <table class="table table-hover align-middle" id="export">
                      <thead class="text-white sticky-top theadbg">
                          <tr>
                              <th></th>
                              <th colspan="4" class="text-center">Dealer</th>
                              <th colspan="4" class="text-center">Customer</th>
                              <th colspan="7" class="text-center">Vehicle</th>
                              <th colspan="10" class="text-center">Price</th>
                              <th colspan="7" class="text-center">Dates</th>
                              <!-- <th></th> -->
                          </tr>
                          <tr>
                              <th>Sr.No.</th>
                              <th>Code</th>
                              <th>Name</th>
                              <th>Location</th>
                              <th>State</th>
                              <th>Name</th>
                              <th>Contact</th>
                              <th>Location</th>
                              <th>State</th>
                              <th>Model</th>
                              <th>ProductCode</th>
                              <th>Variant</th>
                              <th>ChassisNo</th>
                              <th>Engine No</th>
                              <th>Invoice No</th>
                              <th>Invoice Date</th>
                              <th>Financer Type</th>
                              <th>Financer Name</th>
                              <th>DealPrice</th>
                              <th>Margin</th>
                              <th>Cash</th>
                              <th>Old Tractor Price</th>
                              <th>Finance Amount Received On</th>
                              <th>Finance Amount Received</th>
                              <th>ReceivedAmt</th>
                              <th>BalanceAmt</th>
                              <th>Quantity</th>
                              <th>DeliveryDate/ReturnDate</th>
                              <th>Production</th>
                              <th>Advancing</th>
                              <th>Created On</th>
                              <th>Created By</th>
                              <th>Remarks</th>
                            </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let del of deliveryData | filter: searchData | paginate: { itemsPerPage: limit, currentPage: pageData }; let i = index">
                              <td data-title="Sr. No.">{{limit*(pageData-1)+i+1}}</td>
                              <td data-title="Dealer Code">{{del?.dealer?.code}}</td>
                              <td data-title="Dealer Name">{{del?.dealer?.name}}</td>
                              <td data-title="Location">{{del?.dealer?.city}}</td>
                              <td data-title="State">{{del?.dealer?.state}}</td>
                              <td data-title="Customer Name">{{del?.customer?.name}}</td>
                              <td data-title="Contact">{{del?.customer?.phone}}</td>
                              <td data-title="Location">{{del?.customer?.city}}</td>
                              <td data-title="State">{{del?.customer?.state}}</td>
                              <td data-title="Model">{{del?.model}}</td>
                              <td data-title="ProductCode">{{del?.prodDate | date: 'dd-MM-yyyy'}}</td>
                              <td data-title="Variant">{{del?.variantCode}}</td>
                              <td data-title="ChassisNo">{{del?.chassisNo}}</td>
                              <td data-title="Engine No">{{del?.engineNo}}</td>
                              <td data-title="Invoice No">{{del?.dealer?.invoiceNumber}}</td>
                              <td data-title="Invoice Date">{{del?.dealer?.invoiceDate | date:'dd-MM-yyyy'}}</td>
                              <td data-title="Financer Type">{{del?.finType}}</td>
                              <td data-title="Financer Name">{{del?.financeDetails.bankName}}</td>
                              <td data-title="DealPrice">{{del?.customer?.dealPrice | date:'dd-MM-yyyy'}}</td>
                              <td data-title="Margin">{{del?.marginCollected | date:'dd-MM-yyyy'}}</td>
                              <td data-title="Cash">{{del?.cashAmount}}</td>
                              <td data-title="Old Tractor Price">{{del?.customer?.oldTractor.price }}</td>
                              <td data-title="Finance Amount Received On">NA</td>
                              <td data-title="Finance Amount Received">{{del?.financeAmount}}</td>
                              <td data-title="ReceivedAmt">{{del?.customer?.dealPrice - del?.customer?.balanceAmount | currency : 'INR'}}</td>
                              <td data-title="BalanceAmt">{{del?.customer?.balanceAmount}}</td>
                              <td data-title="Quantity">-1</td>
                              <td data-title="DeliveryDate/ReturnDate">{{del?.customer?.deliveryDate || del?.invoiceDate | date:'dd-MM-yyyy'}}</td>
                              <td data-title="Production">{{del}}</td>
                              <td data-title="Advancing">{{del}}</td>
                              <td data-title="Created On">{{del?.createDate | date:'dd-MM-yyyy'}}</td>
                              <td data-title="Created By">{{del?.createdBy}}</td>
                              <td data-title="Remarks">{{del}}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div class="input-group-icon input-group-icon-right text-center mt-2">
                  <pagination-controls (pageChange)="pageData = $event"></pagination-controls>
              </div>
          </div>
      </div>
  </div>
</section>


