footer{
  background-color: #333;
  padding: 0.2rem;
}
.copyrgtTxt{
  margin-bottom: 0;
  text-align: center;
  color: #fff;
  font-size: 13px;
}
.copyrgtTxt i a{
  color: #fff;
  text-decoration: none;
}
