<section>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <!-- searchbar-row -->
              <div class="sidebarMain">
                  <div class="row">
                      <div class="col-md-12">
                          <ul class="model-menu">
                              <li><a routerLink="/home">Depot</a></li>/
                              <li><a routerLink="/depot-stock-variantWise">Depot Stock Variantwise</a></li>
                          </ul>
                      </div>
                      <div class="col-md-6 col-12">
                          <div class="searchBar d-flex justify-content-center align-items-center">
                              <i class="fas fa-search"></i><input class="form-control" type="search" [(ngModel)]="searchData" placeholder="Search" aria-label="Search">
                          </div>
                      </div>
                      <div class="col-md-6 col-12 align-self-end text-end">
                          <div class="modelBtnMain">
                                <button type="button" class="btn btn-primary" *ngIf="isExcelDownload" (click)="download()" title="Download selected records"><i class="fa fa-download"></i></button>
                          </div>
                          <label for="limit">
                              <select id="limit" name="limit" class="form-select" (click)="dataLimit()">
                                  <option *ngFor="let limit of limits" value="{{limit.value}}">{{limit.key}}</option>
                              </select>
                          </label>
                      </div>
                  </div>
              </div>
              <!-- searchbar-row -->
              <div class="table-responsive">
                  <table class="table table-striped table-hover align-middle" id="export">
                      <thead class="text-white sticky-top theadbg">
                          <tr>
                              <th>#</th>
                              <th>Depot Code</th>
                              <th>Depot Name</th>
                              <th>Model</th>
                              <th>Variant Code</th>
                              <th>Status</th>
                              <th>Quantity</th>
                            </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let stockVariant of stockVariants | filter: searchData | paginate: { itemsPerPage: limit, currentPage: pageData }; let i = index">
                              <td data-title="Sr. No.">{{limit*(pageData-1)+i+1}}</td>
                              <td data-title="Dealer Code">{{stockVariant?._id.code}}</td>
                              <td data-title="Dealer Name">{{stockVariant?._id.name}}</td>
                              <td data-title="Model">{{stockVariant?._id.model}}</td>
                              <td data-title="Variant Code">{{stockVariant?._id.variantCode}}</td>
                              <td data-title="Status">{{stockVariant?._id.status}}</td>
                              <td data-title="Quantity">{{stockVariant?.vehicles}}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div class="input-group-icon input-group-icon-right mt-2">
                  <pagination-controls (pageChange)="pageData = $event"></pagination-controls>
              </div>
          </div>
      </div>
  </div>
</section>
