<!-- header -->
<div class="container-fluid">
  <div class="row">
      <div class="headerMain">
          <div class="col-md-12">
              <div class="row align-items-end">
                  <div class="col-2">
                      <div class="logo">
                          <img class="img-fluid" src="../../../assets/images/SDF-logo.png"/>
                      </div>
                  </div>
                  <div class="col-10 my-auto">
                      <ul class="reportDtl">
                          <li class="date">{{currentdate | date: 'dd.MM.y'}} <br> {{currentdate | date: 'EEEE'}}</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- header -->
