<!-- header -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row my-2 align-items-end">
                <div class="col-1">
                    <div class="logo">
                        <img class="img-fluid" src="../../../assets/images/SDF-logo.png"/>
                    </div>
                </div>
                <div class="col-11 my-auto">
                    <ul class="reportDtl">
                        <li class="date">{{currentdate | date: 'dd.MM.y'}} ({{currentdate | date: 'EEEE'}})</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- header -->
